<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Michal Huk's HW5</title>
        <link rel="stylesheet" href="../public/css/style_index.css">
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    </head>
    <body>
        <h1>Michal Huk's Portfolio - HW5</h1>

        <nav>
            <div>
                <span><a href="./index">Home</a></span> | 
                <span><a href="./resume">Resume</a></span> | 
                <span><a href="./funfacts">Fun Facts</a></span> | 
                <span><a href="./trivia">Trivia</a></span>
            </div>
            
        </nav>

        <main>
        <h2>Trivia Question</h2>
        <div id="quiz"></div>
        <button id="submit">Get Results</button>
        <div id="results"></div>

        <script src="./public/js/main.js" defer></script>

        </main>

        <br>
        <hr>

        <footer>
            &copy; Copyright: Michal Huk, 2021
            <br>
            <a href="https://www.linkedin.com/in/itshukokay/"><img src="../public/img/linkedin-logo.png" alt="LinkedIn" style="height:12px"></a>
             | 
            <a href="mailto:mhuk@oakland.com">Contact</a>
        </footer>

    </body>
</html>